{% extends 'layout.html' %}

{% block content %}
<div class="col-xs-10 col-sm-6 col-md-6 ml-auto mr-auto">
    <div class="card card-style mb-2">
        <div class="card-body">
            {% if success_message %}
            <div class="alert alert-success" role="alert">
                {{ success_message }}
            </div>
            {% endif %}
            <form action="" method="POST">
                {{ form.csrf_token() }}
                <fieldset class="form-group">
                    <legend class="mb-4">Add Work Hours</legend>
                    <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
                        {{ form.name(class="form-control form-control-sm" + (' is-invalid' if form.name.errors else ''))
                        }}
                        {% if form.name.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form.time_in.label }}<br>
                        {{ form.time_in(class="form-control", required=false) }}
                    </div>

                    <div class="form-group">
                        {{ form.time_out.label }}<br>
                        {{ form.time_out(class="form-control", required=false) }}
                    </div>

                    <div class="form-group">
                        {{ form.month.label }}<br>
                        {{ form.month(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.date.label }}<br>
                        {{ form.date(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.workday_type.label }}<br>
                        {{ form.workday_type(class="form-control") }}
                    </div>

                    <div class="form-group border-bottom pb-3">
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var nameField = document.querySelector('input[name="name"]');
        var nameValue = nameField.value;
        var regex = /^[A-Za-z\s]*$/; // Regex for letters and spaces only

        if (!regex.test(nameValue)) {
            alert("Please enter a valid name. Special characters and numbers are not allowed.");
            nameField.focus();
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>

{% endblock %}